body {
    position: relative;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    height:800px;
    margin: 0;
    background-color:#333;
}

.gallery-container {
   
    overflow: hidden;
    max-width: 700px;
    max-height: 800px;
    border: 0.5px solid #ccc;
    margin-bottom: 20px;
    border: 1px;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;

}

.gallery img {
    width: 100%;
    min-width: 100%;
    object-fit: fill;
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    position: absolute;
}

button { 
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
    position: absolute;
}
#prev {
         right: 20px;
}

#next{
    left: 20px;
}